:root {
  --primary: #9356dc;
  --primary-soft: #9256dc2f;
  --secondary: #ff79da;
  --third: #99E2d0;
  --third-stronger: #3dad93;
  --lightgrey: #f6f6f6;
  --altgrey: #eaeaea;
  --grey: #9e9e9e;
  --darkgrey: #363636;
  --black: #000;
  --white: #fff;
  --shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

html, 
body { 
  width: 100%;
  /* background: red; */
  margin: unset;
  font-family:'Segoe UI', 'Helvetica Neue', sans-serif;
}

figure {
  margin: unset;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  background: var(--white);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.header--logo {
  width: 180px;
}

.header--back {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
}

.lacarte {
 margin-top: 250px;
}

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: calc(100% - 40px);
  background: var(--darkgrey);
  color: var(--white);
  padding: 20px;
}

.footer--logo {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  width: 100px;
  margin-bottom: 20px;
}

.footer__links {
  list-style-type: none;
  margin: unset;
  padding: unset;
}

.footer__links--link {
  margin-bottom: 5px;
}

.footer__links--link i {
  font-size: 13px;
  margin-right: 10px;
}

.fa-utensils {
  margin-right: 16px !important;
}

/**
*
* Page d'acceuil 
*
**/

.location {
  width: 100%;
  height: 50px;
  background: var(--altgrey);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.location input {
  border: none;
    background-color: var(--altgrey);
    font-size: 16px;
    margin-left: 55px;
}
::placeholder {
  color: black;
  margin-left: 15px;
  font-weight: 500;
}

.location i {
  position: absolute;
  left: 100px; 
}


.explore {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--lightgrey);
  width: calc(100% - 40px);
  height: calc(280px - 40px);
  padding: 20px;
}

.explore h1 {
  text-align: center;
  margin: unset;
  font-size: 28px;
}

.explore p {
  font-size: 17px;
  text-align: center;
}

button {
  width: 220px;
  height: 50px;
  background: linear-gradient(var(--secondary), var(--primary));
  font-weight: 500;
  font-size: 16px;
  color: var(--white);
  box-shadow: var(--shadow);
  border: unset;
}

section button {
  border-radius: 25px;
  margin-top: 30px;
}

.explore--btn {
  border-radius: 25px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 73px;
}

.usage {
  width: calc(100% - 48px);
  background: white;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
}

.usage h3 {
  font-size: 24px;
}

.usage--item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 70px;
  border-radius: 20px;
  background: var(--lightgrey);
  padding-left: 30px;
  margin-left: -27px;
  margin-bottom: 22px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.075), 0 6px 6px rgba(0, 0, 0, 0.082);
}

.usage--item i {
  margin-left: -16px;
  margin-right: 30px;
  font-size: 18px;
  color: var(--grey);
}

.usage--item span {
  font-weight: 500;
}

.usage--item:hover {
  background-color: var(--primary-soft);
}

.usage--item:hover i {
  color: var(--primary);
}

.usage--item--step {
  position: relative;
  top: 0;
  left: -40px;
  width: 24px;
  height: 24px;
  background: var(--primary);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-radius: 16px;
}

.restaurants {
  width: calc(100% - 48px);
  background: var(--lightgrey);
  /* height: 300px; */
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 11px;
  padding-bottom: 22px;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}
.restaurant i {
 position: absolute;
 top: 302px;
 right: 45px;
 font-size: 20px;
}
.restaurant h1 {
  font-size: 25px;
  padding-top: 25px;
  margin-left: 16px;
}

article h3 {
  font-size: 20px;
  font-weight: normal;
  margin-left: 16px;
}

.restaurants__restaurant {
  width: 100%;
  height: 250px;
  background: white;
  border-radius: 16px;
  margin-bottom: 20px;
  overflow: hidden;
  margin-top: 8%;
}

.restaurants__restaurant--preview {
  height: 180px;
  width: 100%;
}
.restaurants__restaurant--preview--photo {
   width: 100%;
   height: auto;
}

.restaurants__restaurant--preview--new {
  top: -182px;
  left: 250px;
  padding: 6px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  color: var(--third-stronger);
  background: var(--third);
  width: 16%;
  position: relative;
}

.restaurants__restaurant--infos {
  height: 70px;
  width: 100%;
}
.restaurants-image {
  position: fixed;
    top: 0;
    z-index: -10;
    width: 100%;
    height: 300px;
}
.far.fa-heart {
  font-weight: 400;
}

.far.fa-heart:hover {
  font-weight: 900 !important;
  cursor: pointer;
  color: pink;
}

.restaurants__restaurant__infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 40px);
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -29%;
}

.restaurants__restaurant__infos__text--title, .restaurants__restaurant__infos__text--subtitle {
  /* padding: unset;
  margin: unset; */
}

.restaurants__restaurant__infos__text--subtitle {
  font-weight: 200;
  font-size: 16px;
  margin-top: 6px;
}

.restaurants__restaurant__infos i {
  font-size: 26px;
}

a, a:visited {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}
/**
*
* Restaurants
*
**/

main {
  background-color: var(--lightgrey);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.menu {
  border-radius: 50px;
}

.menu-section {
  background-color: white;
   border-radius: 10px;
   margin: 3%;
   display: flex;
   justify-content: space-between;
   /* padding: 2%; */
   padding-left: 10px;
   padding-right: 10px;
   overflow: hidden;
   box-shadow: var(--shadow);
   opacity: 0;
    margin-top: 20px;
    animation-duration: 1.5s;
    animation-name: smooth-appear;
    animation-fill-mode: forwards;
}
.menu-section:nth-of-type(1) {
  animation-delay: 250ms;
}
.menu-section:nth-of-type(2) {
  animation-delay: 500ms;
}
.menu-section:nth-of-type(3) {
  animation-delay: 750ms;
}
.menu-section:nth-of-type(4) {
  animation-delay: 1000ms;
}
.menu-section:nth-of-type(5) {
  animation-delay: 1250ms;
}
.menu-section aside{
 position: relative;
 right: -10px;
 height: 65px;
 width: 0px;
 display: flex;
 align-items: center;
 justify-content: center;
 background: var(--third);
}
.price {
  position: absolute;
  right: 30px;
 /* margin-left: 75px; */
}
.menu-section aside, .menu-section i, .menu-section .price {
  transition: all .25s ease;
 }
.menu-section i {
 position: unset;
 color: white;
 transform: rotate(180deg);
}
.menu-section:hover {
 cursor: pointer;
}
.menu-section:hover .price {
 /* margin-left: 0px; */
 right: 95px;
 text-overflow: ellipsis;
}
.menu-section:hover aside {
 width: 65px;
}
.menu-section:hover aside i {
 transform: rotate(0deg);
}
p {
 margin-top: 30px;
 font-size: 14px;
}
h5 {
 position: absolute;
 margin-top: 8px;
}
.green-line {
  border-bottom: 3px solid var(--third);
   width: 37px;
   margin-top: -20px;
   margin-left: 16px;
   margin-bottom: 18px;
}

/**
*
* Tablette
*
**/

@media only screen and (min-width : 768px) and (max-width : 1024px) {
  
  .restaurants {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .restaurant i {
    top: 276px;
  }
  .restaurants h3 {
    position: absolute;
  }
  .target-rest {
    margin: 5%;
  }
  .location i {
    position: absolute;
    left: 270px;
  }
  .location input {
   margin-left: unset;
  }
  .footer {
    align-items: center;
  }
  .footer__links {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .explore--btn {
    margin-left: 271px;
  }
  .menu-section {
    width: 80%;
    margin: 6%;
  }
  .price {
    right: 122px;
  }
  .menu-section:hover .price {
    right: 160px;
  }
}
/**
*
* Desktop
*
**/

@media only screen and (min-width: 1024px) {
  .lacarte {
    margin-top: 500px;
  }
  .location input {
    margin-left: 15px;
  }
  section h2 {
    text-align: center;
  }
  ul {
    display: flex;
    justify-content: space-between;
  }
  .usage--item {
    width: 27%;
  }
  .restaurants {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .restaurants h3 {
    position: absolute;
    margin-top: -3px;
  }
  .restaurant h1 {
    text-align: center;
  }

  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-rows: auto;
    
  }
  .menu-section {
    display: block;
    width: unset;
    text-align: center;
  }
  section h5 {
    position: relative;
  }
  .explore--btn {
    margin-left: 45%;
  }
  .footer {
    align-items: center;
  }
  .footer__links {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .location i {
    position: unset;
    left: unset;
  }
  .restaurants {
    min-height: 700px;
  }
  .restaurant i {
   top: 523px;
  }
  .entree {
    margin-left: 400px;
  }
  .green-line {
    margin-top: 45px;
    margin-left: 825px; 
    position: absolute;
  }
  .target-rest {
    width: 65%;
    text-align: center;
    margin-left: calc(35% / 2);
    margin: auto;
  }
  .restaurants-image {
    height: unset;
  }
  .restaurants__restaurant__infos {
    margin-top: -16%;
  }
  .restaurants__restaurant__infos__text--subtitle {
    margin-top: 30px
  }
  .restaurants__restaurant--preview--new {
    margin-top: 10px;
    margin-left: 85px;
  }
  .menu-section aside {
    display: none;
    position: relative;
    width: 0%;
    left: 0;
  }
  article h3 {
    grid-row-start: 1;
    grid-column-start: 2;
    text-align: center;
  }
  .one {
  grid-row-start: 2;
  grid-column-start: 1;
  }
  .two {
  grid-row-start: 2;
  grid-column-start: 2;
  }
  .three {
    grid-row-start: 2;
    grid-column-start: 3;
  }
  .four {
    grid-row-start: 2;
    grid-column-start: 4;
  }
  .special-tab {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-rows: auto;
  }
  .menu-section .price {
    position: unset;
    transition: none;
    margin-left: unset;
  }
  img {
    object-fit: contain;
  }
  .price {
    position: absolute;
    right: 30px;
   /* margin-left: 75px; */
  }
  .menu-section aside, .menu-section i {
    transition: all .33s ease;
   }
  .menu-section i {
   position: unset;
   color: white;
   transform: rotate(180deg);
  }
  .menu-section:hover {
   cursor: pointer;
  }
  .menu-section:hover aside {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    width: 100%;
  }
  .menu-section:hover aside i {
   transform: rotate(0deg);
  }
}

@keyframes smooth-appear {
  from {
    opacity: 0;
    margin-top: 20px;
  }
  to {
    opacity: 1;
    margin-top: 0px;
  }
}