<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OhMyFood! | La note enchantee</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  <link rel="stylesheet" href="../style/style.css">
</head>
<body>
  <header class="header">
    <a href="../" class="header--back">
      <i class="fas fa-arrow-left"></i>
    </a>
    <img src="../assets/logo/ohmyfood.png" alt="ohmyfood" class="header--logo">
  </header>
  
  <main class="restaurant">
    <img src="../assets/img/note_enchantee.jpg" alt="le delice" class="restaurants-image">

    <section class="lacarte">
      <h1>La Note Enchantée</h1>
      <i class="far fa-heart"></i>
  
      <article class="menu special-tab">
        <h3>Entrées</h3>
        <div class="green-line"></div>
  
        <section class="menu-section one">
          <h5>Ravioles de foie gras</h5>
          <p>Accompagnés de leur crème a la truffe</p>
          <p class="price">25€</p>
          <aside>
            <i class="fas fa-check-circle"></i>
          </aside>
        </section>
  
        <section class="menu-section two">
          <h5>Caviar osciètre</h5>
          <p>Sur blini à la farine de blé noir</p>
          <p class="price">35€</p>
          <aside>
            <i class="fas fa-check-circle"></i>
          </aside>
        </section>
  
        <section class="menu-section three">
          <h5>Homard et espuma de potiron </h5>
          <p>Mariné aux zestes d'orange</p>
          <p class="price">20€</p>
          <aside>
            <i class="fas fa-check-circle"></i>
          </aside>
        </section>
  
        <section class="menu-section four">
          <h5>Foie gras de canard cuit entier</h5>
          <p>Confiture de figue et pain toasté</p>
          <p class="price">35€</p>
          <aside>
            <i class="fas fa-check-circle"></i>
          </aside>
        </section>
      </article>
  
      <article class="menu">
        <h3>Plats</h3>
        <div class="green-line"></div>
        
        <section class="menu-section one">
          <h5>Noix de coquilles Saint-Jacques</h5>
          <p>Sur lit de purée de céleri-rave</p>
          <p class="price">40€</p>
          <aside>
            <i class="fas fa-check-circle"></i>
          </aside>
        </section>
        
        <section class="menu-section two">
          <h5>Langoustine poêlée</h5>
          <p>Purée de patate douce</p>
          <p class="price">35€</p>
          <aside>
            <i class="fas fa-check-circle"></i>
          </aside>
        </section>
        
        <section class="menu-section three">
          <h5>Mijoté de queue de boeuf</h5>
          <p>Et riz sauvage aux zestes de citron</p>
          <p class="price">44€</p>
          <aside>
            <i class="fas fa-check-circle"></i>
          </aside>
        </section>
      </article>
  
      <article class="menu">
        <h3>Desserts</h3>
        <div class="green-line"></div>
        
        <section class="menu-section one">
          <h5>Macaron noisette et chocolat</h5>
          <p>Glace au caramel brun et sel de Guérande</p>
          <p class="price">18€</p>
          <aside>
            <i class="fas fa-check-circle"></i>
          </aside>
        </section>
  
        <section class="menu-section two">
          <h5>Baba au rhum revisité </h5>
          <p>Avec son coulis de citron</p>
          <p class="price">22€</p>
          <aside>
            <i class="fas fa-check-circle"></i>
          </aside>
        </section>
  
        <section class="menu-section three">
          <h5>Tarte au citron meringuée </h5>
          <p>Déstructurée</p>
          <p class="price">23€</p>
          <aside>
            <i class="fas fa-check-circle"></i>
          </aside>
        </section>
      </article>
      
      <button class="explore--btn">Commander</button>
    </section>  
  </main>
  <footer class="footer">
    <img src="../assets/logo/ohmyfood@2x.svg" alt="ohmyfood" class="footer--logo">
    <ul class="footer__links">
      <li class="footer__links--link">
        <i class="fas fa-utensils"></i>Proposer un restaurant
      </li>
      <li class="footer__links--link">
        <i class="fas fa-hands-helping"></i>Devenir partenaire
      </li>
      <li class="footer__links--link">Mentions legales</li>
      <li class="footer__links--link">Contact</li>
    </ul>
  </footer>
</body>
</html>